
<div id="" class="content_form">
    <% f.inputs "Datos de cabecera" do %>
		  <%= f.input :name,:label => false,:input_html  => {:class => "top",:placeholder => "Nombre del modelo"}%>
		  <%= f.input :crm_projects_lift_category_type,:input_html  => {}%>
		  <%= f.input :crm_projects_lift_manufacturing_phases,:as => :check_boxes %>
    <% end %>

</div>

<script type="text/javascript">

</script>

