<div id="tabs">
	<ul>
                <li id="tab-1"><a href="#tabs-1">General</a></li>
                <li id="tab-2"><a href="#tabs-2">Valor 1/4 Pliego</a></li>
                <li id="tab-3"><a href="#tabs-3">Valor metro cuadrado</a></li>
					 <li id="tab-4"><a href="#tabs-4">Inventario</a></li>
	</ul>
	<div id="tabs-1">
		<%= render :partial => "form_1",:locals => {:f => f} %>
	</div>
	<div id="tabs-2">
		
	</div>
  	<div id="tabs-3">
		
	</div>
        <div id="tabs-4">
		
	</div>
	
</div>



<script type="text/javascript">
	$(document).ready(function(){
                $( "#tabs" ).tabs();
                $("#tab-2,#tab-3,#tab-4").hide();
                $("button, input:submit,input:button,a.button ").button();

	});
</script>