/* 
    Document   : last_payrolls
    Created on : 13/05/2014, 10:58:15 AM
    Author     : gabriel
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


@import "../contable_document.css";


form.formtastic fieldset > ol > li.boolean label{
	padding-left: 14%;
}