<div class="actionsBar right no-print">
  <%= link_to(image_tag("icons/arrow_left.png"),backend_material_management_goods_movements_url,:class => "button",:title => "Regresar") %>
   |
   <%= link_to(image_tag("icons/printer.png"),backend_material_management_goods_movement_url(@goods_movement,"pdf"),:class => "button",:title =>"Imprimir orden") %>
</div>
<div>
  <% semantic_form_remote_for @goods_movement, :update => "#{controller.controller_name}_container",:url => "",:html => {:class => "form_generate"} do |f| %>
        <%= render :partial => "form",:locals => {:f => f} %>
		  <%#= link_to_function "PROCESAR","generate()", :disable_with => "Por favor espere...",:id => "contable_document-button",:class => "button" %>
  <% end %>
</div>

<script type="text/javascript">
       $(document).ready(function(){
			 $("#item_product_form").hide();
         $(".material_goods_movement input,.material_goods_movement textarea,.material_goods_movement select").attr("disabled","disabled")
			
	});
</script>