<div>
  <% semantic_form_remote_for @customer_detail, :update => "#{controller.controller_name}_container",:url => backend_customer_details_url,:html => {:class => "form_generate"} do |f| %>
        <%= render :partial => "form",:locals => {:f => f} %>
  <%= link_to_function "VISITAR","generate()", :disable_with => "Por favor espere...",:id => "contable_document-button",:class => "button" %>
  <% end %>
</div>

<script type="text/javascript">

        function generate()
        {
          result = confirm("¿Esta seguro de ejecutar esta acción?")
          if (result)
            $(".form_generate").submit();
        }


  $(document).ready(function(){

  });
</script>