<div>
  <% semantic_form_remote_for @cash, :update => "#{controller.controller_name}_container",:url => backend_cashbank_cashes_url,:html => {:class => "form_generate"} do |f| %>
        <%= render :partial => "form",:locals => {:f => f} %>
        <hr/>
  <%= link_to_function "PROCESAR","generate()", :disable_with => "Por favor espere...",:id => "contable_document-button",:class => "button" %>
  <% end %>
</div>

<script type="text/javascript">
        function generate()
        {
          result = confirm("¿Esta seguro de ejecutar esta acción?")
          if (result)
            $(".form_generate").submit();
        }

</script>
