<div>
  <% semantic_form_remote_for @payment_order, :update => "#{controller.controller_name}_container",:url => "",:html => {:class => "form_generate"} do |f| %>
        <%= render :partial => "form",:locals => {:f => f,:show => true} %>
 <% end %>
</div>
<script type="text/javascript">
	$(document).ready(function(){
                $(".account_payable_payment_order input, .account_payable_payment_order select").attr("disabled","disabled")
	});
</script>