<div class="actionsBar right no-print">
  <%= link_to(image_tag("icons/arrow_left.png"),backend_financial_management_client_customer_management_project_url(@client,@project),:class => "button",:title => "Regresar") %>
</div>
<hr/>
<div>
  <% semantic_form_remote_for @lift, :update => "#{controller.controller_name}_container",:url => backend_financial_management_client_customer_management_project_lifts_url(@client,@project),:html => {:class => "form_generate"} do |f| %>
  <div class="">
	 <%= render :partial => "form",:locals => {:f => f} %>
  </div>

  <%= link_to_function "PROCESAR","generate()", :disable_with => "Por favor espere...",:id => "contable_document-button",:class => "button" %>
  <% end %>
</div>

<script type="text/javascript">
        function generate()
        {
          result = confirm("¿Esta seguro de ejecutar esta acción?")
          if (result)
            $(".form_generate").submit();
        }

</script>