<div id="detail_incoming_invoice">
  <div class="headerWrap">
    <div class="headerWrapContent">
		<h2>Información documento <%= format_code(@incoming_invoice.id,"05")%> </h2>
    </div>
  </div>
  <div class="mainWrapContent">
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">General</a></li>
				<li><a href="#tabs-2">Posiciones</a></li>
				<li><a href="#tabs-3">Pagos</a></li>
			</ul>
			<div id="tabs-1">
				<%= render :partial => "detail_header" %>
			</div>
			<div id="tabs-2">
				<%#= render :partial => "form_2",:locals => {:f => f} %>
			</div>
			<div id="tabs-3">
				<%= render :partial => "detail_incoming_invoice_payment" %>
			</div>
		</div>
		

  </div>

</div>
<script type="text/javascript">
  $(document).ready(function(){ // Script del Navegador
    $("button, input:submit,input:button,a.button ").button();
	 $( "#tabs" ).tabs();

  });
</script>