<p>Bienvenido </p>
<span style="display: inline;"> [ <span>
                                    <span class=""><%= link_to "Net-Print Ingresar",new_frontend_session_url,:class => "external",:rel => "#modal-external"%></span>
                                    <span class=""> / <%= link_to "Registrarse",new_frontend_user_url,:tabindex => "-1"%></span>
                                  </span> ]
</span>