<div>
   <h2>Gigantografía</h2>
  <div class="center subc c37l">
    <%= image_tag "buttons/product_category_types/gigantografia.png" %>
  </div>
  <div class="subc c50r">
        <div class="">
           
            <p>Impresión a gran formato para interiores y exteriores en banner, clear, vinil microperforado, vinil autoadhesivo, papel fotográfico, etc. (base eco-solvente).</p>
           
             <ul>
               <li>Pendones</li>
               <li>Vallas</li>
               <li>Pancartas</li>
               <li>Bastidores</li>
               <li>Afiches</li>
             </ul>
           
         </div>
  </div>
</div>