<div>
   <h2>Impresión Litogr&aacute;fica</h2>
  <div class="center subc c37l">
    <%= image_tag "buttons/product_category_types/litografica.png" %>
  </div>
  <div class="subc c50r">
        <div class="">
           
             <p>Tamaño 1/2 pliego, largo tiraje (grandes cantidades).</p>
           
              <ul>
               <li>Volantes</li>
               <li>Cat&aacute;logos</li>
               <li>Revistas</li>
               <li>Folletos</li>
               <li>Calendarios</li>
               <li>Habladores</li>
               <li>Dipticos</li>
               <li>Tr&iacute;pticos</li>
               <li>Tarjetas</li>
               <li>Invitaciones</li>
               <li>Afiches</li>
               <li>Carpetas</li>
               <li>Libretas</li>
               <li>Manuales</li>
               <li>Libros</li>
               <li>Calcomanías</li>
            </ul>
           
         </div>
  </div>
</div>