<div>
   <h2>Impresión Digital</h2>
  <div class="center subc c37l">
    <%= image_tag "buttons/product_category_types/impresiones_digitales.png" %>
  </div>
  <div class="subc c50r">
        <div class="">
           
            <p>Tamaño 1/4 pliego, corto tiraje (pocas cantidades, maquetas, pruebas de color, etc).</p>
           
              <ul>
                 <li>Volantes</li>
                 <li>Cat&aacute;logos</li>
                 <li>Revistas</li>
                 <li>Folletos</li>
                 <li>Calendarios</li>
                 <li>Habladores</li>
                 <li>D&iacute;pticos</li>
                 <li>Tr&iacute;pticos</li>
                 <li>Tarjetas</li>
                 <li>Invitaciones</li>
                 <li>Afiches</li>
                 <li>Carpetas</li>
                 <li>Libretas</li>
                 <li>Manuales</li>
                 <li>Libros</li>
                 <li>Calcomanías</li>
                 <li>Carpetas</li>
              </ul>
           
         </div>
  </div>
</div>