<% content_for :venom_leadspace_head do %>
<div id="about_us_leadspaces">
    <%= render :partial => "about_us_leadspaces" %>
</div>
<% end %>

<div id="about_us_main_content" class="box_container">
  <h2>Sobre Net-Print</h2>
  <div class="subc c37l">
    <div>
      <b>Nosotros</b>
      <p>
        Venom Impresos Digitales C.A. es una compañía dedicada a la realización de impresiones digitales y litográficas, gigantografías (impresiones solvente) y elaboración de diseños / arte final.
        <br/><br/>
        Conformada por un equipo de profesionales y técnicos con amplia experiencia, nuestro objetivo es brindar el adecuado asesoramiento ofreciendo soluciones rápidas y eficientes, poniendo al servicio de nuestros clientes toda la colaboración y el empeño para la consecución de sus objetivos comunicacionales.
      </p>
    </div>
  </div>
  <div class="subc c60r">
      <div class="">
        <b>Misión</b>
        <p>Producir material gráfico de alta calidad para la empresa p&uacute;blica y privada de todo el territorio nacional, en consonancia con sus fines publicitarios o propagand&iacute;sticos</p>
      </div>
      <div class="">
        <b>Visión</b>
        <p>Ser el aliado estratégico para empresas p&uacute;blicas y privadas en la creación y ejecución de su material gráfico a través de la búsqueda  de soluciones a sus necesidades publicitarias y propagandistas, ejerciendo liderazgo en la creación de nuevas tendencias y productos visuales, que impongan pautas creativas en pro del posicionamiento tanto de la imagen corporativa como de los objetivos comunicacionales de nuestros clientes. </p>
      </div>
      <div class="">
        <b>Valores</b>
        <p>Ofrecemos a nuestros clientes compromiso, ética, eficiencia, eficacia y solidaridad.</p>
      </div>
  </div>


</div>
