<% if current_cart.empty? %>
    <div class="block info">
      <h2>Tu carrito est치 vacio</h2>
      <p>
      <%= link_to "Continuar comprando",new_frontend_budget_url,:class => "button" %>
      </p>
    </div>
<% else %>

<div id="products">
  <form action="">
      <% current_cart.each do |product_by_budget| %>
        <%= render :partial => "cart_product",:locals => {:product_by_budget => product_by_budget} %>
      <% end %>


    <div id="cart-about" class="block info">
     <p>
        La lista de precios y disponibilidad de los items de <b>net-print.com.ve</b> est치n sujetos a cambio. El carrito de compras es un sitio temporal para almacenar sus items y cada uno refleja el precio ma치s reciente. <%= link_to_function("Aprender m치s", "alert('en desarrollo')") %>
      </p>
    </div>
  </form>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    //$("button, input:submit,input:button,a.button ").button();
  });
</script>


<% end %>

