<p><%= Time.now.hour > 12 ? "Buenas Tardes " : "Buenos Días "%> ,</p>

<p>Adjunto se remite el recibo de pago correspondiente a la segunda quincena de Mayo 2010.</p>

 <p>Saludos cordiales,</p>
<br/>
<br/>

--------------------------------------------------<br/>
CORPORACIÓN TECNOLÓGICA LIFTVEN, C.A.<br/>
RIF: J-40333178-2<br/>
Twitter: @liftven (Para llegar a lo mas alto)<br/>
http://www.liftven.com<br/>
Caracas 1073, Venezuela<br/>
Teléfono: 212-8149012 <br/>
Gerencia General de Talento Humano<br/>
<br/>
<br/>
<br/>
<i style="font-size:9px;color:#aaaaaa">Este mensaje ha sido enviado automáticamente por favor <span style="background:none repeat scroll 0 0 #FFFFCC;color: #222222;">no responder</span> a este envío </i>