
AQUI SOLICITAR CUERPO DEL MENSAJE <br/>
---
Observaciones:<br/>
<p>
  <%= @design.note %>
</p>

<p>
  Adjunto encontrara <%= @design.multimedia_files.size %> diseño(s). Posteriormente puede hacer click <a href="<%= "#{backend_order_new_decision_design_url(@caso.order)}" %>" target="_blank">AQUI</a> para sus observaciones.
</p>