<div>
	<h3>Promociones</h3>
	<hr/>
        <div id="table-container">
        <div id="table-header">
          <table>
            <thead>
              <tr>
                <th style="width: 15%;">
                  Nombre de la promoción
                </th>
                <th style="width: 20%;">
                  Fecha inicio
                </th>
                <th style="width: 20%;">
                  Fecha Fin
                </th>
                <th style="width: 20%;">
                  Porcentaje %
                </th>
              </tr>
            </thead>
          </table>
          
        </div>
  <div id="table-body2">
    <%= render :partial => "promociones_added" %>
  </div>
<%= link_to(image_tag("icons/add.png"),new_promocion_backend_products_url,:class => "button external-overlay",:rel => ".overlay" ) %>
</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
          $("a.external-overlay[rel]").overlay({
                mask: {
                        color: '#000',
                        loadSpeed: 200,
                        opacity: 0.9
                },
                onBeforeLoad: function() {
                    var wrap = this.getOverlay().find(".contentWrap");
                    wrap.load(this.getTrigger().attr("href"));
                }
              });
	});
</script>
