<div>
        <h3>Accesorios</h3>
	<hr/>
        <% f.inputs do%>
          <%= f.input :accessories,:as => :check_boxes,:label => false %>
        <% end %>
        <br/>

</div>

<script type="text/javascript">
	$(document).ready(function(){
          
	});
</script>