<div class="top-actions">
<%= link_to_remote "Nuevo", :update => "#{controller.controller_name}_container", :url => new_backend_product_url %>
</div>
<div class="help-message">
  <p>Presionar <b>Nuevo</b> para crear un producto terminado.</p>
  <p>Seleccionar un producto de la lista para modificar algún dato.</p>
  <p>Para realizar una búsqueda, colocar una palabra en el buscador y presionar <b>Buscar</b>.</p>
  <p>Para ver todos los productos, presionar la <b>X</b> que aparece en el buscador</p>
</div>