<div id="tabs">
	<ul>
                <li id="tab-1"><a href="#tabs-1">General</a></li>
					 <li id="tab-2"><a href="#tabs-2">Componentes</a></li>
                <li id="tab-3"><a href="#tabs-3">Accesorios</a></li>
                <li id="tab-4"><a href="#tabs-4">Precios</a></li>
                <li id="tab-5"><a href="#tabs-5">Promociones</a></li>
	</ul>
	<div id="tabs-1">
		<%= render :partial => "show_1" %>
	</div>
	<div id="tabs-2">
		<%= render :partial => "show_2"%>
	</div>
	<div id="tabs-3">
		<%= render :partial => "show_3" %>
	</div>
  	<div id="tabs-4">
		<%#= render :partial => "show_4_1" %>
	</div>
  	<div id="tabs-5">
		<%= render :partial => "show_5" %>
	</div>
</div>



<script type="text/javascript">
	$(document).ready(function(){
                $( "#tabs" ).tabs();
                <% if @product.prices_are_defined_by_value_raw_material? %>
                  $("#tab-4").hide();
                <% end %>
                $("button, input:submit,input:button,a.button ").button();

	});
</script>