<div>
        <h3>Accesorios</h3>
	<hr/>
        <ul>
          <%@product.accessories.each do |accessory|%>
            <li><%= accessory.name%></li>
          <% end %>
        </ul>
        <br/>
</div>

<script type="text/javascript">
	$(document).ready(function(){

	});
</script>