<div class="top-actions">
<%= link_to_remote "Nuevo", :update => "form_container", :update => "#{controller.controller_name}_container", :url => new_backend_contact_url %>
</div>
<div class="help-message">
  <p>Presionar <b>Nuevo</b> para crear un contacto.</p>
  <p>Seleccionar un contacto de la lista para modificar algún dato o agregar una materia primas que quiera distribuir.</p>
  <p>Para realizar una búsqueda, colocar una palabra en el buscador y presionar <b>Buscar</b>.</p>
  <p>Para ver todos los contactos, presionar la <b>X</b> que aparece en el buscador</p>
</div>
